<div class="container">
  <h1 class="page-header">Models listing</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu justo a risus varius feugiat. Sed consectetur nulla venenatis purus dapibus, ac rhoncus tellus euismod. Proin suscipit a metus vitae malesuada. Curabitur ac mauris eget turpis pretium consectetur. Proin pulvinar varius consequat. Curabitur ac mauris elit. Pellentesque porta ipsum et lacus ultrices, ut elementum est tempus. Nunc id euismod velit, sit amet gravida sem.</p>
  <div class="well">
    <form id="frm-searchForm" class="form" method="post" action="/" novalidate="">
      <div class="input-group text-center">
        <input id="frm-searchForm-search" class="form-control input-lg" type="text" placeholder="Search for model..." required="" name="search">
        <span class="input-group-btn">
        <input class="btn btn-lg btn-primary" type="submit" value="Najít" name="_submit">
        </span>
      </div>
      <input type="hidden" value="searchForm-submit" name="do">
    </form>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail card">
        <img src="http://loremflickr.com/320/200/model?widjkaK" class="">
        <div class="caption">
          <h4 class="">Android Utils Library</h4>
          <p class="">{{'ANDROID_UTILS_LIB_DESC' | translate}}
          </p>
          <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="fa fa-edit"></i></a>  <a href="https://mugan86.github.io/android-utils-library/" class="btn btn-default btn-xs" role="button">{{'MORE_INFO' | translate}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail card">
        <img src="http://loremflickr.com/320/200/model?pODPO" class="">
        <div class="caption">
          <h4 class="">Application</h4>
          <p class="">{{'ANDROID_UTILS_LIB_DESC' | translate}}
          </p>
          <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="fa fa-edit"></i></a>  <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail card">
        <img src="http://loremflickr.com/320/200/model?saasfasf" class="">
        <div class="caption">
          <h4 class="">Application</h4>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
            culpa itaque odio similique suscipit
          </p>
          <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="fa fa-edit"></i></a>  <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail card">
        <img src="http://loremflickr.com/320/200/model?asfsafasf" class="">
        <div class="caption">
          <h4 class="">Application</h4>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
            culpa itaque odio similique suscipit
          </p>
          <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="fa fa-edit"></i></a>  <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
        </div>
      </div>
    </div>
  </div>
  <!--/row-->
</div>
<!--/container -->